.Map {
	position: absolute;
	width: 100%;
	left: 0px;
	display: block;
}

#buttonEdges {
	top: 30px;
}

#Base {
	z-index: 10;
}

#Construction {
	z-index: 20;
}

#Edges {
	z-index: 30;
}

#Paths {
	z-index: 40;
}

#Zone {
	z-index: 50;
}

#Bikes {
	z-index: 60;
}

#Buses {
	z-index: 70;
}

#Stalls {
	z-index: 80;
}

#Trees {
	z-index: 90;
}

#Standing {
	z-index: 100;
}

#Amenities {
	z-index: 110;
}

input {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 200;
}