@font-face {
    font-family: 'Titillium';
    src: url(TitilliumWeb-Regular.ttf) format("truetype");
}

body {
  font-family: font-family: 'Titillium', arial, serif;
  margin: auto;
  position: relative;
  width: 960px;
}

text {
  font: 10px sans-serif;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

#key {
	top: 80px;
}

all {
	margin: auto;
}

.menu {
	float:right;
	display:block;
	text-align: center;
	padding:14px 16px;
	text-decoration: none;
	font-size: 20px;
	background-color: #FFFFFF;
	position: fixed;
	color: #FFFFFF;
	right: 0px;
	font-family: 'Titillium', arial, serif;
	font-size: 18px;
}

.menu a {
	float:right;
	display:block;
	text-align: center;
	padding:14px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #333333;
}

.menu a:hover {
	background-color: #333333;
	color: #DDDDDD;
}

#sauce {
	top: 600px;
}